<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Bcplatform</title>

<!-- ================= Favicon ================== -->
<!-- Standard -->
<link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
<!-- Retina iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="144x144"
	href="http://placehold.it/144.png/000/fff">
<!-- Retina iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="114x114"
	href="http://placehold.it/114.png/000/fff">
<!-- Standard iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="72x72"
	href="http://placehold.it/72.png/000/fff">
<!-- Standard iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="57x57"
	href="http://placehold.it/57.png/000/fff">

<!-- Styles -->
<link th:href="@{/assets/fontAwesome/css/fontawesome-all.min.css}"
	rel="stylesheet">
<link th:href="@{/assets/css/lib/themify-icons.css}" rel="stylesheet">
<link th:href="@{/assets/css/lib/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/assets/css/lib/nixon.css}" rel="stylesheet">
<link th:href="@{/assets/css/style.css}" rel="stylesheet">
</head>

<body class="bg-primary">

	<div class="Nixon-login">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<div class="login-content">
						<div class="login-logo">
							<a href="index.html"><span></span></a>
						</div>
						<div class="login-form">
							<h4>用户登录</h4>
							<form>
								<div class="form-group">
									<label>用户名</label> <input type="email" class="form-control">
								</div>
								<div class="form-group">
									<label>密码</label> <input type="password" class="form-control">
								</div>
								<div class="checkbox">
									<label> <input type="checkbox"> 记住我
									</label> <label class="pull-right"> <a
										href="page-reset-password.html">忘记密码?</a>
									</label>

								</div>

								<button type="submit"
									class="btn btn-primary btn-flat m-b-30 m-t-30">
									<a class=" btn-primary btn-flat"
										href="/user/index.html">登录</a>
								</button>
								<div class="social-login-content">
									<div class="social-button">
										<button type="button"
											class="btn btn-primary bg-facebook btn-flat btn-addon m-b-10">
											<i class="ti-email"></i>邮箱登录
										</button>
										<button type="button"
											class="btn btn-primary bg-twitter btn-flat btn-addon m-t-10">
											<i class="ti-mobile"></i>手机登录
										</button>
									</div>
								</div>
								<div class="register-link m-t-15 text-center">
									<p>
										<a href="register.html"> 注册</a>
									</p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>