<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bcplatform</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="../static/assets/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="../static/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="../static/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/css/lib/nixon.css" rel="stylesheet">
    <link href="../static/assets/css/style.css" rel="stylesheet">
</head>

<body class="bg-primary">

<div class="Bcplatform-login">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="index.html"><span>学生评价</span></a>
                    </div>
                    <div class="login-form">
                        <h4>用户注册</h4>
                        <form>
                            <div class="form-group">
                                <label>用户姓名</label>
                                <input type="email" class="form-control" placeholder=""><!--placeholder=""-->
                            </div>
                            <div class="form-group">
                                <label>用户密码</label>
                                <input type="email" class="form-control" placeholder=""><!--placeholder="********"-->
                            </div>
                            <div class="form-group">
                                <label>机构选择</label>
                                <select class="form-control">
                                    <option>实验中学</option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>注册身份</label>
                                <select class="form-control">
                                    <option>学生</option>
                                    <option>教师</option>
                                    <option>管理员</option>
                                    <option></option>
                                    <option></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>手机号码</label>
                                <input type="email" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>邮箱地址</label>
                                <input type="email" class="form-control" placeholder="">
                            </div>
                            <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">注册</button>

                            <div class="register-link m-t-15 text-center">
                                <p>已有账户？ <a href="login.html"> 登录 </a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>