<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kycb.demo.Dao.EvaluationMapper">
  <resultMap id="BaseResultMap" type="com.kycb.demo.Pojo.Evaluation">
    <id column="eva_id" jdbcType="VARCHAR" property="evaId" />
    <result column="eva_name" jdbcType="CHAR" property="evaName" />
    <result column="teacher_id" jdbcType="VARCHAR" property="teacherId" />
    <result column="stu_id" jdbcType="VARCHAR" property="stuId" />
    <result column="eva_date" jdbcType="TIMESTAMP" property="evaDate" />
    <result column="eva_type" jdbcType="CHAR" property="evaType" />
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
    <result column="stu_name" jdbcType="VARCHAR" property="stuName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.kycb.demo.Pojo.Evaluation">
    <result column="evaluation" jdbcType="LONGVARCHAR" property="evaluation" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    eva_id, eva_name, teacher_id, stu_id, eva_date, eva_type, teacher_name, stu_name
  </sql>
  <sql id="Blob_Column_List">
    evaluation
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.kycb.demo.Pojo.EvaluationExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from evaluation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.kycb.demo.Pojo.EvaluationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from evaluation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from evaluation
    where eva_id = #{evaId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from evaluation
    where eva_id = #{evaId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.kycb.demo.Pojo.EvaluationExample">
    delete from evaluation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kycb.demo.Pojo.Evaluation">
    insert into evaluation (eva_id, eva_name, teacher_id, 
      stu_id, eva_date, eva_type, 
      teacher_name, stu_name, evaluation
      )
    values (#{evaId,jdbcType=VARCHAR}, #{evaName,jdbcType=CHAR}, #{teacherId,jdbcType=VARCHAR}, 
      #{stuId,jdbcType=VARCHAR}, #{evaDate,jdbcType=TIMESTAMP}, #{evaType,jdbcType=CHAR}, 
      #{teacherName,jdbcType=VARCHAR}, #{stuName,jdbcType=VARCHAR}, #{evaluation,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kycb.demo.Pojo.Evaluation">
    insert into evaluation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="evaId != null">
        eva_id,
      </if>
      <if test="evaName != null">
        eva_name,
      </if>
      <if test="teacherId != null">
        teacher_id,
      </if>
      <if test="stuId != null">
        stu_id,
      </if>
      <if test="evaDate != null">
        eva_date,
      </if>
      <if test="evaType != null">
        eva_type,
      </if>
      <if test="teacherName != null">
        teacher_name,
      </if>
      <if test="stuName != null">
        stu_name,
      </if>
      <if test="evaluation != null">
        evaluation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="evaId != null">
        #{evaId,jdbcType=VARCHAR},
      </if>
      <if test="evaName != null">
        #{evaName,jdbcType=CHAR},
      </if>
      <if test="teacherId != null">
        #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="stuId != null">
        #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="evaDate != null">
        #{evaDate,jdbcType=TIMESTAMP},
      </if>
      <if test="evaType != null">
        #{evaType,jdbcType=CHAR},
      </if>
      <if test="teacherName != null">
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="stuName != null">
        #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="evaluation != null">
        #{evaluation,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kycb.demo.Pojo.EvaluationExample" resultType="java.lang.Long">
    select count(*) from evaluation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update evaluation
    <set>
      <if test="record.evaId != null">
        eva_id = #{record.evaId,jdbcType=VARCHAR},
      </if>
      <if test="record.evaName != null">
        eva_name = #{record.evaName,jdbcType=CHAR},
      </if>
      <if test="record.teacherId != null">
        teacher_id = #{record.teacherId,jdbcType=VARCHAR},
      </if>
      <if test="record.stuId != null">
        stu_id = #{record.stuId,jdbcType=VARCHAR},
      </if>
      <if test="record.evaDate != null">
        eva_date = #{record.evaDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.evaType != null">
        eva_type = #{record.evaType,jdbcType=CHAR},
      </if>
      <if test="record.teacherName != null">
        teacher_name = #{record.teacherName,jdbcType=VARCHAR},
      </if>
      <if test="record.stuName != null">
        stu_name = #{record.stuName,jdbcType=VARCHAR},
      </if>
      <if test="record.evaluation != null">
        evaluation = #{record.evaluation,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update evaluation
    set eva_id = #{record.evaId,jdbcType=VARCHAR},
      eva_name = #{record.evaName,jdbcType=CHAR},
      teacher_id = #{record.teacherId,jdbcType=VARCHAR},
      stu_id = #{record.stuId,jdbcType=VARCHAR},
      eva_date = #{record.evaDate,jdbcType=TIMESTAMP},
      eva_type = #{record.evaType,jdbcType=CHAR},
      teacher_name = #{record.teacherName,jdbcType=VARCHAR},
      stu_name = #{record.stuName,jdbcType=VARCHAR},
      evaluation = #{record.evaluation,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update evaluation
    set eva_id = #{record.evaId,jdbcType=VARCHAR},
      eva_name = #{record.evaName,jdbcType=CHAR},
      teacher_id = #{record.teacherId,jdbcType=VARCHAR},
      stu_id = #{record.stuId,jdbcType=VARCHAR},
      eva_date = #{record.evaDate,jdbcType=TIMESTAMP},
      eva_type = #{record.evaType,jdbcType=CHAR},
      teacher_name = #{record.teacherName,jdbcType=VARCHAR},
      stu_name = #{record.stuName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kycb.demo.Pojo.Evaluation">
    update evaluation
    <set>
      <if test="evaName != null">
        eva_name = #{evaName,jdbcType=CHAR},
      </if>
      <if test="teacherId != null">
        teacher_id = #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="stuId != null">
        stu_id = #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="evaDate != null">
        eva_date = #{evaDate,jdbcType=TIMESTAMP},
      </if>
      <if test="evaType != null">
        eva_type = #{evaType,jdbcType=CHAR},
      </if>
      <if test="teacherName != null">
        teacher_name = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="stuName != null">
        stu_name = #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="evaluation != null">
        evaluation = #{evaluation,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where eva_id = #{evaId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kycb.demo.Pojo.Evaluation">
    update evaluation
    set eva_name = #{evaName,jdbcType=CHAR},
      teacher_id = #{teacherId,jdbcType=VARCHAR},
      stu_id = #{stuId,jdbcType=VARCHAR},
      eva_date = #{evaDate,jdbcType=TIMESTAMP},
      eva_type = #{evaType,jdbcType=CHAR},
      teacher_name = #{teacherName,jdbcType=VARCHAR},
      stu_name = #{stuName,jdbcType=VARCHAR},
      evaluation = #{evaluation,jdbcType=LONGVARCHAR}
    where eva_id = #{evaId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kycb.demo.Pojo.Evaluation">
    update evaluation
    set eva_name = #{evaName,jdbcType=CHAR},
      teacher_id = #{teacherId,jdbcType=VARCHAR},
      stu_id = #{stuId,jdbcType=VARCHAR},
      eva_date = #{evaDate,jdbcType=TIMESTAMP},
      eva_type = #{evaType,jdbcType=CHAR},
      teacher_name = #{teacherName,jdbcType=VARCHAR},
      stu_name = #{stuName,jdbcType=VARCHAR}
    where eva_id = #{evaId,jdbcType=VARCHAR}
  </update>
</mapper>